{{template "features" .}}

{{define "featurescontent"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>welcome to FEATURES Page !</h1>
            </div>
        </div>
    </div>

{{end}}